html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    padding: 20px;;
    font-size: 56pt;
    text-align: center;
    width: 98%;
    max-width: 90%;
}

main {
    height: initial;
}

.project-panel {
    margin: 20px;
    height: 300px;
    width: 400px;
    display: inline-block;
    position: relative;
}

.project-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    transition: opacity .5s;
}
.project-overlay:hover {
    opacity: 90%;
    transition: opacity .5s;
}

img {
    height: 100%;
    width: 100%;
    background-color: darkslateblue;
    object-fit: cover;
}

@media (max-width: 640px) {
    h1 {
        font-size: 30pt;
    }
}