html, body {
    max-width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    padding: 20px;;
    font-size: 56pt;
    text-align: center;
    width: 98%;
    max-width: 90%;
}

p {
    padding: 0 50px 0 30px;
    margin: 0;
    text-align: center;
    width: 98%;
    max-width: 90%;
}

img {
    padding: 20px;
    max-width: 250px;
    max-height: 300px;
}

@media (max-width: 640px) {
    h1 {
        font-size: 30pt;
    }
}